body {
  overflow: hidden; /* Hide scrollbars */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("https://i.imgur.com/yJ8u9rl.png");
  display: flex;
  justify-content: space-around;
  align-items: center;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section .content {
  position: relative;
  padding: 100px 50px 100px 150px;
  box-sizing: border-box;animation: left-in 0.5s ease-in forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
section .content h2 {
  color: #fff;
  font-size: 3em;
  font-weight: 800;
}
section .content p {
  color: #fff;
  font-size: 1.2em;
}
section .content a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  margin-top: 20px;
  background: #ff2562;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.95em;
  font-weight: 700;
  letter-spacing: 2px;
}
section .content a:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
section .imgBx {
  position: relative;
}
section .imgBx img {
  max-width: 400px;
  animation: fade-in 0.5s ease-in forwards;
  animation-delay: 2s;
  opacity: 0;
}
section .sci {
  position: absolute;
  bottom: 75px;
  left: 150px;
  display: flex;
  animation: left-in 0.5s ease-in forwards;
  animation-delay: 1s;
  opacity: 1;
}

section .Bx2 {
  position: relative;
  padding-right: 200px;
  padding-bottom: 60px;
}
section .Bx2 img {
  max-width: 800px;
   animation: right-in 0.5s ease-in forwards, wobble-hor-bottom 10s infinite both;
  animation-delay: 1s;
  opacity: 0;
}

section .sci li {
  list-style: none;
}
section .sci li a {
  text-decoration: none;
  color: #999;
  margin-right: 30px;
  font-size: 0.9em;
}
section .sci li a:hover {
  color: #fff;
}
section .nav {
  position: absolute;
  top: 75px;
  left: 150px;
  display: flex;
  border-left: 5px solid #ff2562;
  padding-left: 20px;
  animation: left-in 0.5s ease-in forwards;
  animation-delay: 0s;
  opacity: 0;
}
section .nav li {
  list-style: none;
}
section .nav li a {
  text-decoration: none;
  color: #fff;
  margin-right: 30px;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 700;
}
section .nav li a:hover,
section .nav li a.active{
  color: #ff2562;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes left-in {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes right-in {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes wobble-hor-bottom{0%,100%{transform:translateX(0);transform-origin:50% 50%}15%{transform:translateX(-30px) rotate(-6deg)}30%{transform:translateX(15px) rotate(6deg)}45%{transform:translateX(-15px) rotate(-3.6deg)}60%{transform:translateX(9px) rotate(2.4deg)}75%{transform:translateX(-6px) rotate(-1.2deg)}}

 }
}

@media (max-width: 991px) {
  .menu-icon {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 30px;
    height: 30px;
    background: url(https://atisnet.com/wp-content/uploads/2020/02/menu.png);
    filter: invert(1);
    background-size: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    z-index: 100000;
  }
  .menu-icon.active {
    background: url(https://atisnet.com/wp-content/uploads/2020/02/close.png);
    filter: invert(1);
    background-size: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    z-index: 100000;
  }
  .nav {
    position: fixed;
    top: 0 !important;
    left: -100% !important;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    z-index: 11;
    border: none;
    padding: 50px;
  }
  .nav.active {
    left: 0 !important;
  }
  .nav li {
    margin: 20px auto;
  }
  section .nav li a {
  font-size: 2.5em;
}
  section {
    flex-direction: column-reverse;
    justify-content: center;
  }
  section:before {
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0 26%);
  }
  section .content {
    padding: 50px;
    margin-bottom: 30px;
  }
  section .content h2 {
    font-size: 1.5em;
  }
  section .content p {
    font-size: 1em;
  }
  section .content a {
    font-size: 0.8em;
    padding: 10px;
  }
  section .imgBx {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    margin-top: 20px;
  }
  section .imgBx img {
    max-width: 300px;
  }
  section .sci {
    left: 50px;
    bottom: 30px;
  }
}
